#postgres
PG_NAME=leetcode_db
PG_USER=postgres
PG_PASSWORD=2283371488
PG_PORT=5432
PG_HOST=localhost
PG_ECHO=True

#rabbitmq
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_WEB_PORT=15672
RABBITMQ_AMQP_PORT=5672

#fastapi
FASTAPI_PORT=8000

#redis
REDIS_DB_CACHE=0
REDIS_PORT=6379
REDIS_HOST=localhost