#postgres
PG_NAME=leetcode_db
PG_USER=postgres
PG_PASSWORD=password
PG_PORT=port1

#rabbitmq
RABBITMQ_DEFAULT_USER=user 
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_WEB_PORT=port2
RABBITMQ_AMQP_PORT=port3